.section {
    padding: 6rem 0;
    text-align: center;
}

/* Background
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.background,
.backdrop {
    background-color: #3f689c;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
}

.backdrop {
    background: #333333;
    filter: alpha(opacity=90);
    opacity: .8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}

.background {
    background-image: url(assets/fundo.jpg);
}

/* Produtos
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.produtos {
    background-color: #32729F;
}

.box-produto {
    background-color: #F9FBFA;
    border-radius: 10px;
    margin: 20px auto;
    padding-bottom: 1px;
    max-width: 600px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.prod-header {
    background-color: #32729F !important;
    border-radius: 10px 10px 0 0;
    height: 250px;
}

.prod-1,
.prod-2,
.prod-3 {
    background-size: cover;
    background-position: center;
}

.prod-1 {
    background-image: url(assets/fusca.jpg);
}

.prod-2 {
    background-image: url(assets/caminhao.jpg);
}

.prod-3 {
    background-image: url(assets/motocicleta.jpg);
}

.prod-preco {
    font-size: 20pt;
    font-weight: 600;
    padding: 10px 0;
    margin-top: -20px;
}

.vantagens {
    background-color: #F2F6F7;
    padding: 10px 25px;
}

.vantagens .destaque {
    background-image: -webkit-linear-gradient(left, #0AAFFA, #27CAA2 80%);
    background-image: -o-linear-gradient(left, #0AAFFA, #27CAA2 80%);
    background-image: linear-gradient(to left, #0AAFFA, #27CAA2 80%);
    border-radius: 30px;
    color: white;
    font-size: 13pt;
    font-weight: bold;
    margin: -33px auto 40px auto;
    padding: 10px;
    text-align: center;
    width: 190px;
}

.vantagens .texto {
    padding-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.vantagens .fa-check {
    color: #71d65d;
}

.vantagens .fa-times {
    color: #d12525;
}

.prod-reservar {
    border: 2px solid #0089ff;
    border-radius: 30px;
    color: #0089ff;
    cursor: pointer;
    font-weight: bold;
    margin: 30px auto;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    width: 150px;
}

.prod-reservar:hover {
    background-color: #0089ff;
    color: #fff;
}

/* ATRIBUIÇÃO */
.attrib {
    color: #e0e0e0;
}


/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    text-align: justify;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}