section {
    padding: 6rem 0;
    text-align: center;
  }

.produto-1,
.prod-2,
.prod-3 {
    background-size: cover;
    background-position: center;
}

.box-produto {
    background-color: #F9FBFA;
    border-radius: 10px;
    margin: 20px auto;
    padding-bottom: 1px;
    max-width: 600px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.prod-comprar {
    color: #955DB8;
    cursor: pointer;
    font-weight: bold;
    margin: 30px auto;
    padding: 15px;
    border-radius: 30px;
    text-transform: uppercase;
    width: 150px;
}

.prod-comprar:hover {
    background-color: #955DB8;
    color: #fff;
}