.section {
    padding: 6rem 0;
    text-align: center;
}

.background,
.backdrop {
    background-color: #3f689c;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
}

.backdrop {
    background: #333333;
    filter: alpha(opacity=90);
    opacity: .8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}

.background {
    background-image: url(../assets/fundo.jpg);
}